In [12]:
import pandas as pd

# Đọc dữ liệu từ file Excel
data = pd.read_excel('flight.xlsx')

# Kiểm tra
print(data.head())

               id code         code_name f_code          f_time_from  \
0   vj16169846100   vj           Vietjet  VJ122  04:50:00 01/04/2021
1  vna16169846200  vna  Vietnam Airlines  VN250  05:00:00 01/04/2021
2   vj16169846231   vj           Vietjet  VJ176  05:25:00 01/04/2021
3   qh16169846270   qh    Bamboo Airways  QH202  05:45:00 01/04/2021
4   vj16169846302   vj           Vietjet  VJ120  06:00:00 01/04/2021

             f_time_to  f_price    fees  total_price    from  \
0  07:10:00 01/04/2021   199000  650900       849900  TP HCM
1  07:10:00 01/04/2021   299000  670000       969000  TP HCM
2  07:35:00 01/04/2021   199000  650900       849900  TP HCM
3  07:55:00 01/04/2021   399000  672000      1071000  TP HCM
4  08:10:00 01/04/2021   199000  650900       849900  TP HCM

         airport_from      to     airport_to            type
0  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco
1  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Economy (EL)-P
2  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco
3  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)       Eco Saver
4  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco

In [13]:
data_cleaned = data.dropna(subset=['f_price'])

In [14]:
data['fees'] = data['fees'].fillna(data['fees'].mean())

In [15]:
data_cleaned = data_cleaned[data_cleaned['f_price'] > 0]

In [16]:
data_cleaned['f_time_from'] = pd.to_datetime(data_cleaned['f_time_from'], format='%H:%M:%S %d/%m/%Y')
data_cleaned['f_time_to'] = pd.to_datetime(data_cleaned['f_time_to'], format='%H:%M:%S %d/%m/%Y')
print(data_cleaned.head())

               id code         code_name f_code         f_time_from  \
0   vj16169846100   vj           Vietjet  VJ122 2021-04-01 04:50:00
1  vna16169846200  vna  Vietnam Airlines  VN250 2021-04-01 05:00:00
2   vj16169846231   vj           Vietjet  VJ176 2021-04-01 05:25:00
3   qh16169846270   qh    Bamboo Airways  QH202 2021-04-01 05:45:00
4   vj16169846302   vj           Vietjet  VJ120 2021-04-01 06:00:00

            f_time_to  f_price    fees  total_price    from  \
0 2021-04-01 07:10:00   199000  650900       849900  TP HCM
1 2021-04-01 07:10:00   299000  670000       969000  TP HCM
2 2021-04-01 07:35:00   199000  650900       849900  TP HCM
3 2021-04-01 07:55:00   399000  672000      1071000  TP HCM
4 2021-04-01 08:10:00   199000  650900       849900  TP HCM

         airport_from      to     airport_to            type
0  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco
1  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Economy (EL)-P
2  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco
3  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)       Eco Saver
4  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)             Eco

In [17]:
data_cleaned['hour_from'] = data_cleaned['f_time_from'].dt.hour
data_cleaned['day_of_week'] = data_cleaned['f_time_from'].dt.dayofweek  # 0: Monday, 6: Sunday
data_cleaned['month_from'] = data_cleaned['f_time_from'].dt.month

In [18]:
# Chuẩn hóa dữ liệu
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data_cleaned[['f_price', 'fees', 'total_price']] = scaler.fit_transform(data_cleaned[['f_price', 'fees', 'total_price']])

In [19]:
vietjet_data = data_cleaned[data_cleaned['code_name'] == 'Vietjet']

# Kiểm tra
print(vietjet_data.head())

              id code code_name f_code         f_time_from  \
0  vj16169846100   vj   Vietjet  VJ122 2021-04-01 04:50:00
2  vj16169846231   vj   Vietjet  VJ176 2021-04-01 05:25:00
4  vj16169846302   vj   Vietjet  VJ120 2021-04-01 06:00:00
6  vj16169846383   vj   Vietjet  VJ132 2021-04-01 06:05:00
8  vj16169846454   vj   Vietjet  VJ134 2021-04-01 07:00:00

            f_time_to   f_price      fees  total_price    from  \
0 2021-04-01 07:10:00 -0.358594 -0.470593    -0.368605  TP HCM
2 2021-04-01 07:35:00 -0.358594 -0.470593    -0.368605  TP HCM
4 2021-04-01 08:10:00 -0.358594 -0.470593    -0.368605  TP HCM
6 2021-04-01 08:05:00 -0.358594 -0.470593    -0.368605  TP HCM
8 2021-04-01 09:10:00 -0.004716 -0.261642    -0.026284  TP HCM

         airport_from      to     airport_to type  hour_from  day_of_week  \
0  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Eco          4            3
2  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Eco          5            3
4  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Eco          6            3
6  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Eco          6            3
8  Tân Sơn Nhất (SGN)  Hà Nội  Nội Bài (HAN)  Eco          7            3

   month_from
0           4
2           4
4           4
6           4
8           4

In [20]:
vietjet_data.to_excel('vietjet_flight_data.xlsx', index=False)